body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Usa min-height en lugar de height */
    background: linear-gradient(to top, rgba(202, 3, 90, 0.89), rgba(141, 80, 107, 0.89), rgba(170, 131, 148, 0.89));
    color: white;
    justify-content: flex-start; /* Alinea los elementos al principio */
}



/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #4e102a;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 50px;
}

header nav a {
    font-weight: 600;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    text-decoration: none;
    color: white;
}

header nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

header nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  position: relative;
}

nav ul li .dropdown {
    font-family: Georgia, serif;
    font-size: 11px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(161, 48, 120, 0.89);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px;
    right: 0px;
}

nav ul li:hover .dropdown {
  display: block;
}

nav ul li .dropdown li {
  margin: 5px 0;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 15px;
  display: block;
}









.section {
    display: none;
}

.section.active {
    display: block;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}









.contenedor-autor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10%;
}

.seccion_autor1,
.seccion_autor2 {
    background: #c3bbcc;
    border-radius: 10px;
    font-family: Georgia, serif;
    color: #000000;
    text-align: center;
    height: 200px;
    width: 300px;
    box-shadow: 0 4px 6px white;
}


.seccion_autor1 h3 {
    text-wrap: balance;
}

.seccion_autor1 p {
    color: black;
    font-size: 15px;
    text-decoration: #ffcc00 solid;
    font-family: "Comic Sans MS", cursive;
}

.seccion_autor1 a {
    color: black;
    font-size: 15px;
    text-decoration: #ffcc00 solid;
}


.seccion_autor1 a {
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    text-align: center;
    padding-top: 10px;
}





#correo_autor {
    clear: left;
    vertical-align: top;
    line-height: 25px;
    font-size: 12px;
    font-style: italic;
    cursor: pointer;
    padding-left: 10px;

}

#correo_autor:hover {
    color: rgba(142, 0, 97, 0.89);
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: rgba(142, 0, 111, 0.89);
}

#confirmacion_mensaje {
    font-size: 15px;
    display: none;
    width: 220px; /* Ajusta el ancho para móviles */
    top: 400px;
    background-color: rgba(142, 0, 83, 0.89);
    color: white;
    text-align: center;
    position: fixed;
}

@media (max-width: 1008px) {
    #confirmacion_mensaje {
        width: 210px; /* Ajusta el ancho para móviles */
        top: 300px;    /* Ajusta la posición para móviles */
    }
}

@media (max-width: 768px) {
    .contenedor-autor {
        flex-direction: column;
    }
    .seccion_autor1, .seccion_autor2 {
        width: 90%;
        margin-bottom: 20px;
    }
}



.seccion_autor2 {
    font-family: Georgia, serif;
    background: #c3bbcc;
    color: #000000;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    text-align: center;
}

.seccion_autor2 ul {
    list-style-type: none; /* Elimina viñetas */
    padding: 0; /* Elimina el espacio interno */
    margin: 0; /* Elimina márgenes adicionales */
    display: inline; /* Alinea los elementos como texto en línea */
    cursor: pointer;
}



#HTML .color {
    color: rgba(142, 0, 85, 0.89);
}

#PYTHON .color {
    color: rgba(142, 0, 85, 0.89);
}

#CSS .color {
    color: rgba(142, 0, 85, 0.89);
}

#JAVASCRIPT .color {
    color: rgba(142, 0, 85, 0.89);
}



.seccion_autor2 ul li:hover {
    color: rgba(142, 0, 85, 0.89);
    transform: scale(1.02);
}







/* Contenedor de descripción de proyectos */
.descripcion-destacados {
    text-align: center;
    padding: 20px;
    background-color: #c3bbcc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Georgia, serif;
    color: #000000;
    width: 80%;
    height: 80px;
}

.descripcion-destacados h3 {
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.descripcion-destacados p {
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
}

















.contenedor-proyecto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}





/* Contenedor de proyectos destacados */
.destacados-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Proyecto individual dentro del contenedor */
.destacados-container .seccion_proyecto2 {
    background: #c3bbcc;
    border-radius: 10px;
    padding: 15px;
    font-family: Georgia, serif;
    color: #000000;
    text-align: center;
    height: 300px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.destacados-container .seccion_proyecto2:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Detalle del proyecto */
.detalle-proyecto {
    margin: 20px auto;
    padding: 20px;
    background-color: #e7e4ed;
    border-radius: 10px;
    font-family: Georgia, serif;
    color: #000000;
    max-width: 600px;
}

.detalle-proyecto h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

.detalle-proyecto p {
    line-height: 1.5;
    margin-bottom: 10px;
}

.detalle-proyecto ul {
    list-style-type: disc;
    padding-left: 20px;
}

.detalle-proyecto ul li {
    margin: 5px 0;
}

/* Enlace de detalles */
.enlace-detalle {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: rgba(142, 0, 88, 0.89);
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.enlace-detalle:hover {
    background-color: rgba(255, 255, 255, 0.89);
    color: rgba(142, 0, 88, 0.89);
    transition: background-color 1s ease;
}










#formulario-contacto {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 600px;
    background: #c3bbcc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

#formulario-contacto h2 {
    color: #000000;
}


.formulario input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 6px;
    box-sizing: border-box;
    color: #000000;
}

.formulario button {
    background-color: rgba(142, 0, 88, 0.89);
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.formulario :hover {
    background-color: #ffffff;
    color: rgba(142, 0, 88, 0.89);
}



footer {
    margin-top: auto;
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}

.social {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social .iconos {
    display: inline-block;
}

.social a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.social a:hover {
    color: rgba(209, 28, 131, 0.89);
}

.footer p {
    margin-top: 10px;
    font-size: 14px;
    color: #ccc;
}
